.f-nav{
    display: flex;
    user-select: none;
    justify-content: space-around;
    padding: 16px;
    border-bottom: 1px solid rgb(50, 50, 50);
    gap: 40px;
    background-color: aliceblue;
}
.f-nav-left,.f-nav-center,.f-nav-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.f-nav-left div , .f-nav-right div , .f-nav-center div{
    display: block;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.bi-person-circle , .bi-cart , .bi-search , .logo{
    color: rgb(50, 50, 50);
    text-decoration: none;
}
.bi-person-circle:hover , .bi-cart:hover , .bi-search:hover , .logo:hover{
    color: black;
}
.f-nav-center .f-nav-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-nav-search button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px 10px;
    background: rgb(255, 125, 125);
    font-size: 20px;
    border: none;
}
.f-nav-search button:hover{
    background: rgb(255, 100, 100);
}
.f-nav-search input{
    width: 300px;
    padding: 6px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}