.first-navbar{
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing:border-box;
    /* border-bottom: 1px solid #ddd; */
    background-color: aliceblue;
    z-index: 2;
}
.first-navbar-main{
    width: 100%;
    height: 90px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.first-navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 500;
    cursor: pointer;
}
.first-navbar-logo a{
    text-decoration: none;
    color: rgb(30, 30, 30);
    transition: background-color 0.3s ease; 
}
.first-navbar-logo a:hover{
    color: black;
}
.first-navbar-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-navbar-search input{
    padding: 6px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.first-navbar-search button{
    padding: 6px 12px;
    font-size: 20px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 125, 125);
    transition: background-color 0.3s ease; 
}
.first-navbar-search button:hover{
    background-color: rgb(255, 75, 75);
}
.first-navbar-menu{
    display: flex;
    gap: 30px;
}

.first-navbar-menu a{
    font-size: 25px;
    color: rgb(50, 50, 50);
    text-decoration: none;
    transition: color 0.3s ease; 
}
.first-navbar-menu a:hover{
    color: black;
}
.first-navbar-menu img{

    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
/*  This code was written to fill the gap automatically left by other Bootstrap icons.
    While not the perfect solution, any solution is better than no solution => */
    margin-bottom:4.3px;
}
.first-navbar-menu .bi-search{
    display: none;
}
.first-navbar-menu .bi-three-dots-vertical{
    display: none;
}
.first-navbar-search-responsive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: hsla(230, 75%, 32%, .1);
    backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}
.first-navbar-search-responsive .bi-x{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}
.responsive-search {
    opacity: 1;
    pointer-events: initial;
}
@media screen and (max-width: 768px) {
    .first-navbar-main .first-navbar-search{
        display: none;
    }
    .first-navbar-menu .bi-search{
        display: block;
    }
}
@media screen and (max-width: 1150px) {
    .first-navbar-menu .bi-three-dots-vertical{
        display: block;
    }
}