.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.profile-info {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.profile-image {
  border: 1px solid black;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-user-details {
  display: flex;
  flex-direction: column;
}

.profile-user-details h2 {
  font-size: 24px;
  margin: 0;
}

.profile-user-details p {
  margin: 0;
  color: #666;
}

.profile-ordered-items {
  flex-grow: 1;
}

.profile-ordered-items h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-ordered-items ul {
  list-style-type: none;
  padding: 0;
}

.profile-ordered-items li {
  margin-bottom: 10px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .profile-image {
    margin-bottom: 20px;
  }
}
